*{
margin:0;
padding:0;
}


body, html{height:100%;}

#main{
margin:0 auto;
position:relative;
min-height:100%;
}

.page-footer {
  padding-top: 20px;
  height:50px;
  color: #fff;
  background-color: #ee6e73;
  position: absolute;
  bottom:0;
  line-height: 20px;
  width:100%;
}
